{% extends "login_base.html"%}
{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="form-signin w-100 m-auto text-center">
    <form method="POST">
        <h1 class="h1 mb-3 fw-bold text-uppercase" href="#">For The Marbles</h1>
        <h1 class="h5 mb-3 fw-normal">Please sign up</h1>

        <div>
            <div class="form-floating">
                <input id="first_name" name="first_name" type="text" style="margin-bottom: -1px;" class="form-control" placeholder="John">
                <label for="first_name">First name</label>
            </div>
            <div class="form-floating">
                <input id="email" name="email" type="email" style="margin-bottom: -1px;" class="form-control" placeholder="john@example.com">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating">
                <input id="password1" name="password1" type="password" style="margin-bottom: -1px;" class="form-control" placeholder="Enter password">
                <label for="password1">Password</label>
            </div>
            <div class="form-floating">
                <input id="password2" name="password2" type="password" style="margin-bottom: 10px;" class="form-control" placeholder="Confirm password">
                <label for="password2">Confirm password</label>
            </div>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <h6 class="h6 mt-3 mb-3 fw-normal">Already have an account? <a href="/login">Log in</a></h6>
    </form>
</div>

{% endblock %}